h1 {
  color: #333;
  padding: 20px;
  text-align: center;
  border: solid #5a5 2px;
  border-left: solid #5a5 30px;
  border-right: solid #5a5 30px;
}
h2 {
  color: #333;
  border-left: solid #5a5 20px;
  border-bottom: solid #5a5 2px;
  padding: 5px;
  padding-left: 10px;
  margin-left: 20px;
}
h3 {
  color: #333;
  border-left: solid #5a5 10px;
/*  border-bottom: solid #5a5 1px;*/
  padding: 5px;
  padding-left: 10px;
  margin-left: 25px;
}
p {
  text-indent: 1em;
  margin: 1px 20px;
}
.last-update {
  text-align: right;
  font-size: smaller;
}
address {
  font-style: normal;
}
.footer {
  text-align: right;
}
.id {
  font-size: smaller;
}


h1, h2, h3 {
  clear: both;
}

dl dt {
  display: block;
  float:   left;
  clear:   both;
  width: 6.5em;
  text-align: right;
}
dl dd {
  margin-left:  7em;
  border-left:  1px solid gray;
  text-align:   left;
  padding-left: 10px;
}
dl.credit {
  font-size: smaller;
  float: right;
  margin: 0 0 0 1em;
  padding: .2em;
  border: dashed #5a5 1px;
}
dl.summary {
  margin-left: 2em;
}
div.authors {
  font-size: smaller;
  text-align: right;
}
div.author2 {
  margin-left: 4em;
}
li .itemhead {
  font-size: smaller;
}
.program {
  padding: 2px;
}
.program td {
  padding: 3px;
  border: solid 1px #888;
  vertical-align: top;
}
.program th {
  font-size: 105%;
  padding: 3px;
  border: dotted 2px #888;
}
.program .colA { width: 46% }
.program .colB { width: 46% }
.program td.blank { border: none; }

pre {
  margin-left: 2em;
}
