AddHandler cgi-script .rb
<Files "data">
AuthType Basic
AuthName "admin area for jsik2010 commitee"
AuthUserFile /home/etk/www/jsik2010/.htpasswd
Require valid-user
</Files>
<Files "admin.rb">
AuthType Basic
AuthName "admin area for jsik2010 commitee"
AuthUserFile /home/etk/www/jsik2010/.htpasswd
Require valid-user
</Files>
