<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=EUC-JP">
<title><%=h @conf[:title] %></title>
<link rel="stylesheet" href="./css/default.css" type="text/css">
<% if @conf["css"] %>
<style type="text/css"><%=h @conf["css"] %></style>
<% end %>
</head>
<body>
<h1><%=h @conf[:title] %></h1>
<% if @conf["message"]["top"] %>
<p class="top"><%= @conf["message"]["top"] %></p>
<% end %>
<% if @error %>
<p class="error_message">Error: <%=h error_message %></p>
<% end %>
<form id="form" action="<%=h @cgi.script_name %>" method="POST"
<% if @forms.find{|f| f.class == FormFile }%>
enctype="multipart/form-data"
<% end %>>
<dl>
<% @forms.each do |form| %>
<% if form.class == FormHidden %>
<dt><%= form.to_html %>
<% else %>
<dt><%=h form.label %>
<% if form.require? %>
      <span class="require">*</span>
<% end %>
  <dd><%= form.to_html %>
<% if form.note %>
  <div class="note"><%= form.note %></div>
<% end %>
<% end %>
<% end %>
</dl>
<p>
<input type="hidden" name="action" value="save">
<input type="submit" value="<%=h @conf["submit"] %>">
</p>
</form>
<hr>
<address>
<%=h @conf[:admin_name] %>
<% if @conf[:admin_mail] %>
  <a href="<%=h @conf[:admin_mail] %>"><%=h @conf[:admin_mail] %></a>
<% end %>
</address>
</body>
</html>
